* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #181818;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i,
.nav-library p {
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist,
.nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px
}

.nav-playlist button,
.nav-podcast button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}

.nav-playlist p,
.nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-language-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 20px
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.artists-grid,
.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-Fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.artist-card,
.album-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-card:hover,
.album-card:hover {
    background-color: #282828;
}

.artist-card img {
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.album-card img {
    width: 100%;
}

.artist-card h3,
.album-card h3 {
    font-size: 12px;
}

.artist-card p,
.album-card p {
    font-size: 10px;
    color: #b7b3b6;
}

.content {
    margin-top: 40px;
}

.content h2 {
    margin-bottom: 10px;
}

.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
    font-size: 14px;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}

.banner button:hover {
    background-color: #b7b3b6;
    transition: 0.5s;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        height: auto;
    }

    /* Sidebar vira topo */
    .sidebar {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }

    .nav-library,
    .nav-playlist,
    .nav-podcast,
    .nav-footer,
    .nav-language-button {
        display: none;
    }

    .logo i {
        font-size: 28px;
    }

    main {
        padding: 16px;
        margin-bottom: 100px;
        /* espaço pro banner */
    }

    .search-bar {
        width: 100%;
    }

    .artists-grid,
    .albums-grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 16px;
    }

    .artist-card img {
        border-radius: 50%;
    }

    .banner {
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }

    .banner button {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    .sidebar {
        width: 220px;
    }

    .search-bar {
        width: 100%;
        max-width: 400px;
    }

    .artists-grid,
    .albums-grid {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}